<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site1.master.vb" Inherits="ccmoveuv.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/bsoft/public/icons/favicon.ico" />
    <title>ccmoveuv</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <link href="StyleSheet1.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="w-100 h-100" style="color: #005AA7">
    <div class="container-fluid fs-6" style="background-color: #005AA7;">
        <div class="row">
            <div class="col-1">
                <img alt="LogoCOASPHARMA" src="images/LogoBSoft_FondoAzul.png" class="img-fluid">
            </div>
            <div class="col-4 mt-1" style="font-size:small">
                <div class="badge bg-primary text-wrap">
                    Usuario B-SOFT:<asp:Literal ID="Literal1" runat="server"></asp:Literal>
                </div>
                <div class="badge bg-primary text-wrap">
                    Cargo:<asp:Literal ID="Literal2" runat="server"></asp:Literal>
                </div>
            </div>
            <div class="col-6 mt-1">
                <ul class="nav nav-pills nav-fill text-center">
                    <li class="nav-item ">
                        <a class="nav-link btn-hover text-white " href='<%= "Formulario Web1.aspx?Gusuario=" & Request.QueryString("Gusuario") & "&Codcia=" & Request.QueryString("Codcia") & "&Empresa=" & Request.QueryString("Empresa") %>'>Consultar</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn-hover text-white" href='<%= "Formulario Web3.aspx?Gusuario=" & Request.QueryString("Gusuario") & "&Codcia=" & Request.QueryString("Codcia") & "&Empresa=" & Request.QueryString("Empresa") %>'>Grabar</a>
                    </li>
                    <li class="nav-itemms ">
                        <a class="nav-link btn-hover text-white " href='<%= "Formulario Web4.aspx?Gusuario=" & Request.QueryString("Gusuario") & "&Codcia=" & Request.QueryString("Codcia") & "&Empresa=" & Request.QueryString("Empresa") %>'>Verificar</a>
                    </li>
                    <li class="nav-item text-start ">
                        <a class="nav-link btn-hover text-white " href='<%= "Formulario Web5.aspx?Gusuario=" & Request.QueryString("Gusuario") & "&Codcia=" & Request.QueryString("Codcia") & "&Empresa=" & Request.QueryString("Empresa") %>'>Devolver</a>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <img src="images/logo-coaspharma.png" class="img-fluid" />
            </div>
        </div>
    </div>
    <br />
        <asp:HyperLink ID="hlVerManual" runat="server"
    NavigateUrl="~/Reportes/p.pdf"
    Target="_blank"
    CssClass="btn btn-outline-primary text-white" ToolTip="Ver Manual" Style="background-color: #005AA7;">
 <img src="/bsoft/public/icons/file-text-white.svg" alt="Manual" />
</asp:HyperLink>
    <br />
    <div class="row text-center">
        <strong>ETAPA 1 VALIDACIONES</strong>
    </div>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <h5><span id="spanEmpresa" runat="server" class="badge text-bg-primary"></span></h5>
</body>
</html>
